.dreiHtml > div {
    font-family: Helvetica, Arial;
    position: absolute;
    background: #00000088;
    color: #ffffff;
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 30px;
    user-select: none;
}